@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255 255 255;
    --foreground: 23 23 23;
  }

  body {
    background: var(--product-gradient, #f8f8f8);
    color: rgb(var(--foreground));
    transition: background 1s ease-in-out;
  }
  
  ::selection {
    background-color: #f97316; /* bg-orange-500 */
    color: white;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  ::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  html {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}
